/* .grid-container {
  display: grid;
}
.grid-item {
  grid-row-start: 1;
  grid-row-end: 3;
} */

.Navbar{
  display: "inline-block";
  width: "50px";
  padding: "12px";
  margin: "0 6px 6px";
  background: "blue";
  
  color: "white";
} 
th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  text-align: center;
	vertical-align: middle;
}
th{
  background-color: #333;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}
/* .signupForm{
   height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
} */
